/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: "Rodin Wanpaku Pro B";
    src: url("/docs/fonts/FOT-RodinWanpaku\ Pro\ B.otf") format("opentype");
}

*, *::after, *::before {
    box-sizing: border-box;
}

button, summary {
    cursor: pointer;
}

/* custom properties */

:root {
    --color-black: #111;
    --color-white: #FFFFFF;
    --brown-pixel-border: #972d07;
    --darkbrown-pixel-border: #582707;
    --color-orange: #ffb20f;
    --color-orange-medium-gradient: #efaa2d;
    --color-orange-dark-gradient: #e1a435;
    --pixel-highlight: #fedf8a;
}


/* code */

body {
    background-image: url(/docs/images/stardewbackground.png);
    background-repeat: no-repeat;
    cursor: url('/docs/images/cursor.png'), pointer;
}

/* Section 1 - avatar grid and icons */

section:nth-of-type(1) {
    display: grid;
    gap: 2em;
    grid-template-columns: 25% 50% auto;

    grid-template-areas: 
    "sidebar avatar ." ;

    margin: 0;
    padding: 0 1.5em 0 1.5em;
}

section:nth-of-type(1) button img:nth-of-type(1) {
    grid-area: avatar;
    width: 80%;
}

section:nth-of-type(1) button {
    background: none;
    border: none;
}

section:nth-of-type(1) ul {
    grid-area: sidebar;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5em;
    padding: 0;

    /* sizing ul */
    width: 86%;
    height: 72%;
    background-color: var(--color-orange);
    /* border: solid transparent; */

    /* pixel border effect */
    box-shadow: -0.3em 0 0 0 var(--brown-pixel-border),
                0.3em 0 0 0 var(--brown-pixel-border),
                0 -0.3em 0 0 var(--brown-pixel-border),
                0 0.3em 0 0 var(--brown-pixel-border),
                
                inset 0 -0.3em 0 0 var(--pixel-highlight),
                inset 0.3em 0 0 0 var(--pixel-highlight)
                ;
}

section:nth-of-type(1) ul img {
    max-width: 100%;
    /* border: solid transparent; */

    box-shadow: -0.3em 0 0 0 var(--brown-pixel-border),
                0.3em 0 0 0 var(--brown-pixel-border),
                0 -0.3em 0 0 var(--brown-pixel-border),
                0 0.3em 0 0 var(--brown-pixel-border)
                ;
    
    padding: 0.5em;
    margin: 0.5em 0 0 0;
}

section:nth-of-type(1) ul li {
    list-style-type: none;
    text-decoration: none;
    height: 21%; 
    /* height voor correctie lichte box shadow highlight */

    box-shadow: inset 0 -0.3em 0 0 var(--pixel-highlight),
                inset 0.3em 0 0 0 var(--pixel-highlight);
}
section:nth-of-type(1) ul li img:nth-of-type(1) {
    width: 3.2em;
}

/* Section 2 - Informatie */

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    padding: 0;
    margin: 2em 2em 0 2em;

}

section:nth-of-type(2) p {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.2em;

    box-shadow: -0.3em 0 0 0 var(--brown-pixel-border),
                0.3em 0 0 0 var(--brown-pixel-border),
                0 -0.3em 0 0 var(--brown-pixel-border),
                0 0.3em 0 0 var(--brown-pixel-border),

                inset 0 -0.3em 0 0 var(--pixel-highlight),
                inset 0.3em 0 0 0 var(--pixel-highlight);

    background: linear-gradient(to right, var(--color-orange) 50%, var(--color-orange-medium-gradient) 50%);
    color: var(--color-white);
    padding: 0.4em;
    margin: 0 0 0 0.5em;
    text-align: center;


}

section:nth-of-type(2) p:nth-of-type(1) {
    grid-column-start: 1;
	grid-column-end: 5;
}

section:nth-of-type(2) p:nth-of-type(2) {
    grid-column-start: 5;
	grid-column-end: 6;
}

section:nth-of-type(2) p:nth-of-type(3) {
    grid-column-start: 2;
	grid-column-end: 5;
}

/* section met letter bio */

section:nth-of-type(3) {
    background: url(/docs/images/letter-sprite.png);
    background-size: cover;
    padding: 1em;
    padding-bottom: 3em;
    margin: 1.5em;

    position: fixed;
    z-index: 1;

    top: 5em;
    bottom: 32em;
    left: -1.5em;
    right: -1em;

    transform: translateX(150%);
}

section:nth-of-type(3).buttonOpen {
    transform: translateX(0%);
}


section:nth-of-type(3) p {
    font-family: "Pixelify Sans", sans-serif;
}

/* NookPhone opbouw */

/* parent */
section:nth-of-type(4) {
    font-family: "Rodin Wanpaku Pro B";
    display: flex;
    justify-content: center;
    align-items: center;
}

/* child */
section:nth-of-type(4) #container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);

    background-color: var(--color-white);
    width:60%;
    max-width: 100%;
    height: 22em;
    border-radius: 5em;
}

/* NookPhone cellular icon */
section:nth-of-type(4) #container img:nth-of-type(1) {
    position: relative;
    top: 1.1em;
    left: 2em;
    width: 3em;
    height: 1.3em;
}

/* NookPhone location icon */
section:nth-of-type(4) #container img:nth-of-type(2) {
    grid-column: 3/4;

    position: relative;
    top: 1em;
    right: -0.5em;

    width: 1.4em;
    height: 1.4em;
}

section:nth-of-type(4) #container p {
    margin: 0;
    padding: 0;
}